# jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# IDE
.idea
.vscode/settings.json

# data + results
data/BioSoundSegBench
data/DATA-WE-CANT-SHARE
data/raw
data/prep/
results/analysis/
results/models/
results/predictions/

# Python
*__pycache__*
*egg-info/
dist/
build/
.venv

# Mac
.DS_Store
